<div class="container-fluid text-center ">
    <h1 class="">House for Rent </h1>
    <h3 class="heading1">27 Anora Crescent, Mulgrave,Vic 3171</h3>
    
  
</div>

<div class="container-fluid ">
    <div class="row" >
        <div class= "col-md-4 "  >
            <ul class="heading2">
                <li>$425 per week </li>
                <li>Bond 2 months Rent </li>
                <li>Available from mid-May 2021 </li>
                <li>6 months/12 months Lease </li>
                <li>Small pet/s Ok </li>
            </ul>
        </div>

        <div class= "col-md-6 heading3"> 
            Situated along a quiet crescent, this single story brick-veneer house offers a modestly-spacious 3 
            bedroom dwelling. Suitable for professionals or small growing family. A long driveway provides ample parking for 3 cars. An undercover 
            carport provides sheletr . At the back is a large garden . On the side is a small decked sheltered area for entertainment/outside 
            relaxation. Separated by a wide nature strip, Wellington Road runs at the back of the house. 
            Bedroom 1 contains built-in wardrobe and a modern ensuite toilet/shower. A separate toilet/shower room provides sharing 
            for bedroom 2 and 3. Both bedrooms 2 and 3 conatain  small built-in wardrobes
        

        </div>

    </div>   

</div>

<div class="container-fluid ">
    <div class="row" >
        <div class= "col-md-3 "  ><%= image_tag ("anora/1_front_of_house.jpg"), class: "pics1" %> </div>
        <div class= "col-md-3 "  ><%= image_tag ("anora/bedroom1_ensuite.png"), class: "pics1" %></div>
        <div class= "col-md-3 "  ><%= image_tag ("anora/kitchen_and_dining.jpg"), class:"pics1" %></div>
        <div class= "col-md-3 "  ><%= image_tag ("anora/shared_bathroom.png"), class:"pics1" %></div>
    </div>
</div>
<br>
<div class="container-fluid ">
    <div class="row" >
        <div class= "col-md-3 "  ><%= image_tag ("anora/bedroom2.jpg") , class:"pics1" %> </div>
        <div class= "col-md-3 "  ><%= image_tag ("anora/bedroom3.jpg") , class:"pics1" %></div>
        <div class= "col-md-3 "  ><%= image_tag ("anora/lounge.png") , class:"pics1" %></div>
        <div class= "col-md-3 "  ><%= image_tag ("anora/side_of_house1.jpg"), class:"pics1"  %></div>
    </div>
</div>
<br>

<div class="container-fluid ">
    <div class="row" >
        <div class= "col-md-3 "  ><%= image_tag ("anora/side_of_house2.jpg") ,class:"pics1" %> </div>
         <div class= "col-md-3 "  ><%= image_tag ("anora/back_garden1.jpg") , class:"pics1" %></div>
    
    </div>
</div>